@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&family=Poppins:wght@300&family=Style+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


      /*        ----------------     Navbar Link Style  --------------------                  */
      .navbar{
   
    
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        padding: .5rem 5rem;
        box-shadow: 5px 5px 20px rgba(0,0,0,.5);
        background: black;
    }
    
    
    
   /*----------------------------------Animation letter------------------------------------------*/
.navbar-brand{
    
  color: orange;
   padding: .5rem 5rem;
   font-family: 'Lobster', sans-serif;
   animation: zoomIn 2s ease-in-out;
  
  
}

@keyframes zoomIn {
 0% {
     transform: scale(.5);
 }
 100% {
     transform: scale(1.0);
 }
}


/*------------------------------------------Ended animation-------------------------------------------------*/
    
    .nav-link{
        
        color: black;
        border-bottom: 2px solid transparent;
        transition: transform 0.8s ease;
    }
    
    .nav-link:hover{
        transform: scaleY(1.0);
        border-bottom: 2px solid orange;
    }
    
    .navbar-brand:hover{
        color: black;
    }
    
    .nav-link{
        font-weight: bolder;
        margin-right: 10px;
        margin-left: 10px;
        color: black;
        text-transform: uppercase;
    }
    
    .nav-link:hover{
        color: black;
    }
    
    .search{
        height: 40px;
        width: 80%;
        border-radius: 60px;
        outline: none;
        margin-right: -35px;
        border:2px solid orange;
    }
    
    input:focus{
      outline: none;
      box-shadow: 0 0 8px orangered;
    }
    
    .btn0{
        height: 40px;
        width: 40%;
        outline: none;
        border: none;
        background: orange;
        color: white;
        border-radius: 60px;
        font-weight: 700%;
    }
    
    
    
/*------------------------------organic--------------------------------------*/    

#organic h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 800;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    animation: zoomIn 2s ease-in-out;
}

@keyframes zoomIn {
  0% {
      transform: scale(.5);
  }
  100% {
      transform: scale(1.0);
  }
}

/*------------------------------------animation end------------------------------------------------------*/

#organic p{
   
    margin-top: 25px;
    padding-right: 150px;
    color: white;
}
#about img{
   
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 0;
    width: 70%;
    height: 50vh;
}

#about{
    background: linear-gradient(to right, #173818, #173818);
    
}

/*------------------------------carousel--------------------------------------*/  
.carousel-item{
    height: 650px;
    background-position: start;
}

.carousel-item h1 p{
    font-weight: 800;
    font-size: 80px;
}

/*------------------------------Fruits Icon--------------------------------------*/  

.mango{
    height: 150px;
    display: inline;
}


 .grapes{
    height: 170px;
    display: inline;
 }

 .vegtable{
    height: 150px;
    display: inline;
 }

 .new h6{
    text-align: center;
    font-size: medium;
 }

 .new h6:hover{
    color: orange;
 }

 /*------------------------------Company Contacts--------------------------------------*/  

 .contact1{
    background-color: black;
    color: white;
  }

 .btn-f{
    height: 45px;
    width: 100px;
    background:white ;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
  }
  
  .btn-f:hover {
    background-color: #cc5500;
    transform: scale(1.0);
  }
  
  .contact1 input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    font-weight: 600;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
  
  }
  .contact1::placeholder{
    color: white;
  }
  
  
  
  .contact1 p{
    margin: 0px;
  }
  
  
  .fa-brands{
    font-size: 1.3rem;
    cursor: pointer;
  }
  .fa-brands:hover{
    color: orange;
  }
  
  .text-center{
    font-weight: bolder;
  }
  
  .error-message {
    color: orange;
    margin-left: -20px;
  }
  